<%- include("./pages/partials/meter_table", {data: data}) %>
    <script>
        $(document).ready(function() {
            const socketHost = $(location).attr('host')
            var socket = io(socketHost)
            socket.on('alarm_data', function(data) {
                let html =
                    '<tr>' +
                    '<td>' + data.name + '</td>' +
                    '<td>' + data.content + '</td>' +
                    '<td>' + data.style + '</td>' +
                    '<td>' + data.status + '</td>' +
                    '<td>' + data.contact + '</td>' +
                    '<td>' + data.time + '</td>' +
                    '</tr>'
                $('#meter-info').prepend(html)
            })
        })
    </script>